.wrapper {
    height: 50vh;
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5vw;
    overflow: hidden;

    .result {
        height: 60%;
        width: 30vw;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.2);
        padding: 10px;
        border-radius: 20px;
        position: relative;
        left: -30vw;
    
        &__title {
            margin-bottom: 5vh;
        }

        &.slide {
            animation: slide 0.5s forwards;
        }
    }
}

@keyframes slide {
    100% { left: 0; }
}