* {
    margin: 0;
    box-sizing: border-box;
}

header {
    padding-top: 20px;
    background: url("img/cover2.jpg") no-repeat;
    height: 100vh;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

ul.menu {
    display: flex;
    flex-direction: row;
}

.menu-items {
    list-style: none;
    margin: 0px 30px;
}

.menu-items a {
    text-decoration: none;
    color: black;
}

.menu-icons {
    margin: 15px 50px;
}

.menu-icons img {
    margin: 0px 15px;
}